.main {
    &__puzzle-header {
        display: flex;
    }

    &__wordTranslate {
        text-align: center;
    }

    &__puzzleField {
        width: 100%;
        height: 324px;
        background-color: rgb(187, 174, 174);

        &_lines {
            display: flex;

            .word-puzzle {
                padding: 7px 10px;
                text-align: center;
                box-shadow: inset 0px 1px 1px 0px red;
                text-shadow:  1px 1px 2px pink;;
                background-color: aquamarine;
                cursor: pointer;
            }
        }
    }

    &__wordsField {
        margin: 20px auto;
        height: 30px;
        display: flex;
        max-width: 800px;
        width: fit-content;

        .word-puzzle {
            padding: 7px 10px;
            text-align: center;
            box-shadow: inset 0px 1px 1px 0px red;
            text-shadow:  1px 1px 2px pink;
            background-color: #B5CFC4;
            cursor: pointer;

            &:hover {
                box-shadow: 1px 1px 2px 0px red;
            }
        }
    }

    &__continueBtn {
        display: block;
        margin: 0 auto;
        padding: 6px 10px;
        background-color: #F77342;
        border-radius: 5px;
        border: none;
        box-shadow: 0px 0px 2px 0px black;
        color: hsl(0, 0%, 100%);
        cursor: pointer;
    }
}


@media (max-width: 814px) {
    .main__wordsField {
        width: auto;
    }
}
