html,
h1,h2,h3,
p, div,
ul, a {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 10px;
    scroll-behavior: smooth;
}

body {
    max-width: 1440px;
    margin: 0 auto;
    font-family: 'Inter', sans-serif;
}

h1 {
    font-family: 'Inter', sans-serif;
    @include text-styling(600, 7.2rem, 105%);
}
h2 {
    @include text-styling(600, 6rem, 125%);
}
h3 {
    @include text-styling(600, 2.4rem, 125%);
}
p {
    @include text-styling(400, 1.6rem, 150%);
}
%circle-btn {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}


@media (max-width: 628px) {
    h1 {
        @include text-styling(600, 4.2rem, 115%);
    }
    h2 {
        @include text-styling(600, 3.2rem, 125%);
    }
}