@import "base-root/root.scss";
@import "base-root/base.scss";

.global {
    padding: 20px 0 40px;
    background-color: $bg-body;
}
.text-accent {
    font-style: italic;
    color: $text-accent;
}

.header {
    padding: 0 40px 20px;

    .nav-wrapper {
        @include flex-rules(space-between, center, '');
        @include text-styling(600, 1.6rem, 150%);

        .underline-hover {
            position: absolute;
            left: 50%;
            width: 0;
            border-bottom: 2px solid $text-dark;
            transition: all 0.5s;
        }

        .logo {
            width: 100px;
            height: 60px;
        }
        .coffee-menu {
            position: relative;
            display: block;
            width: 72px;
            text-decoration: none;
            color: $text-dark;
            cursor: context-menu;

            &_text {
                display: inline;
                @include text-styling(600, 1.6rem, 150%);
            }
            .underline-hover {
                left: 0;
                width: 100%;
            }
        }

        .header-menu {
            display: flex;
            width: 100%;

            &__burger {
                display: none;
            }

            &__list {
                display: flex;
                margin: 0 auto;
                gap: 40px;
                list-style: none;
            }

            &__item {
                position: relative;

                a {
                    display: block;
                    width: max-content;
                    text-decoration: none;
                    color: $text-dark;
                }
            }

            &__item_shadow {
                a {
                    text-shadow: 0 4px 4px rgba($color: #000000, $alpha: 0.2);
                }
            }
        }
    }
}

.menu {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 0 40px;
    margin-bottom: 100px;

    &__header {
        @include flex-rules('', center, column);
        gap: 40px;

        &_center {
            max-width: 800px;
            text-align: center;
        }

        .menu__tabs {
            width: 361px;
            @include flex-rules(space-between, '', '');

            .menu__tab {
                @include flex-rules('', center, '');
                gap: 8px;
                max-width: 124px;
                height: 46px;
                padding: 8px 15px 8px 8px;
                border: 1px solid $border-light;
                border-radius: 100px;
                background-color: $bg-body;
                cursor: pointer;
                transition: background-color 0.8s;

                &-icon {
                    width: 30px;
                    height: 30px;
                    padding: 7px;
                    border-radius: 50%;
                    background-color: $border-light;
                    transition: background-color 0.8s;
                }
                .name {
                    @include text-styling(600, 1.6rem, 150%);
                    color: $text-dark;
                    transition: color 0.8s;
                    cursor: inherit;

                    input {
                        display: none;
                    }
                }

                &_checked {
                    background-color: $bg-container;

                    .menu__tab-icon {
                        background-color: $bg-body;
                    }
                    .name {
                        color: $text-light;
                    }
                }
                &_checked,
                &_checked > .name {
                    cursor: context-menu;
                }
            }
        }
    }

    .our-menu {
        width: 100%;
        max-height: 1052px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 40px;
        
        &-item {
            max-width: 310px;
            border: 1px solid $border-light;
            border-radius: 40px;

            &__label {
                max-height: 310px;
                @include flex-rules(center, center, '');
                overflow: hidden;
                border-radius: 40px;

                img {
                    width: 100%;
                    transform: scale(1.1);
                    transition: transform 0.8s;
                }
            }
            &__description {
                height: 196px;
                padding: 20px;
                @include flex-rules(space-between, '', column);
                gap: 12px;

                p {
                    flex-grow: 1;
                }
            }
            &:hover {
                img {
                    transform: scale(1.0);
                }
            }
        }
    }

    .menu__adding-btn {
        display: none;
        @extend %circle-btn;
    }
}

.footer {
    padding: 0 40px;

    .footer-wrapper {
        @include flex-rules('', center, '');
        gap: 8.5%;
        padding: 100px;
        border-radius: 40px;
        background-color: $bg-container;
    }
    
    .footer-offer {
        max-width: 530px;
        color: $text-light;

        &__socials {
            display: flex;
            margin-top: 40px;
            gap: 12px;
        }
        &__social-link {
            display: block;
            @extend %circle-btn;
            padding: 17px;
            border: 1px solid $border-light;
            box-sizing: border-box;
            transition: background-color 0.6s;

            svg {
                stroke: $text-light;
                transition: stroke 0.6s;
            }
        }
    }

    .contacts-info {
        width: 42.7%;
        color: $text-light;

        &__contacts {
            margin-top: 40px;
            max-width: 262px;
            display: flex;
            flex-direction: column;
            gap: 20px;
        }
        &__item {
            position: relative;
            display: block;
            text-decoration: none;
            color: $text-light;
            @include text-styling(600, 1.6rem, 150%);

            svg {
                margin-right: 4px;
                vertical-align: text-bottom;
            }
            .underline-hover {
                position: absolute;
                left: 0;
                width: 0;
                border-bottom: 2px solid $text-light;
                transition: width 0.5s;
            }
            &:hover > {
                .underline-hover {
                    width: 70%;
                }
            }
        }
    }
}

//  For hover (desktop / mobile)

@media (pointer: fine) {
    .header {
        .nav-wrapper {
            .header-menu__item:hover > {
                .underline-hover {
                    left: 0;
                    width: 100%;
                }
            }
        }
    }
    .menu__header {
        .menu__tabs {
            .menu__tab:hover {
                background-color: $bg-container;

                .menu__tab-icon {
                    background-color: $bg-body;
                }
                .name {
                    color: $text-light;
                }
            }
        }
    }
    .footer {
        .footer-offer__social-link:hover {
            background-color: $bg-body;

            svg {
                stroke: $text-dark;
            }
        }
    }
}
@media (pinter: coarse) {
    // for mobile
}

//! Media-queries

@media screen and (max-width: 1205px) {
    .menu {
        .our-menu {
            grid-template-columns: repeat(auto-fill, 310px);
            justify-content: center;
            overflow-y: hidden;
        }
        .menu__adding-btn {
            display: block;
            margin: 0 auto;
            border: 1px solid $border-dark;
            background-color: $bg-body;
        }
    }
}

@media (max-width: 1045px) {
    .footer {
        .footer-wrapper {
            padding: 100px 60px;
            gap: 5%;
        }
    }
}

@media (max-width: 945px) {
    .footer {
        .footer-wrapper {
            @include flex-rules('', flex-start, column);
            gap: 100px;
        }
        .contacts-info {
            width: 100%;
        }
    }
}

@media (max-width: 769px) {
    .header {
        .nav-wrapper {
            .coffee-menu {
                margin-top: 100px;
            }
            .header-menu {
                position: absolute;
                height: 0px;
                top: 0;
                left: 0;
                flex-direction: column;
                align-items: center;
                overflow: hidden;
                z-index: 1;
                transition: all 0.6s;

                &-open {
                    top: 99px;
                    padding-top: 60px;
                    height: 924px;
                    transform: scale(1);
                    background-color: $bg-body;
                }

                &__burger {
                    display: block;
                    width: 44px;
                    height: 44px;
                    border: 1px solid $border-dark;
                    border-radius: 50%;

                    .burger-icon {
                        position: relative;
                        transform: translate(21px - 8px, 16px);
                    }
                    .burger-icon,
                    .burger-icon::after {
                        display: block;
                        width: 16px;
                        height: 1.5px;
                        background-color: $text-dark;
                        transition: all 0.5s;
                    } 
                    .burger-icon::after {
                        content: '';
                        position: absolute;
                        top: 8px;
                    }
                }
                &__burger-active {
                    .burger-icon {
                        transform: translate(21px - 8px, 20px) rotate(45deg);
                    }
                    .burger-icon::after {
                        top: 0;
                        transform: rotate(-90deg);
                    }
                }

                &__list {
                    flex-direction: column;
                    align-items: center;
                    gap: 60px;
                }
            }
        }
    }
}

@media (max-width: 740px) {
    .menu {
        .our-menu {
            max-height: 2144px;

            &-item:hover {
                img {
                    transform: scale(1.1);
                }
            }
        }
    }
}

@media (max-width: 465px) {
    .header, .menu,
    .footer {
        padding-left: 16px;
        padding-right: 16px;
    }
    .menu__header {
        .menu__tabs {
            width: 100%;
        }
    }

    .footer {
        .footer-wrapper {
            padding: 60px 16px;
            gap: 40px;
        }
    }
}