@import '../../components/gameField/gameField.scss';

.container {
    max-width: 800px;
    margin: 0 auto;
}

.header {

    .container {
        padding: 10px 0;
        display: flex;
        justify-content: space-between;
    }
    
    &__greeter {
        margin: 0;
        font-size: 25px;
    }

    &__btn {
        padding: 0 10px;
        background-color: #F77342;
        border-radius: 64px;
        border: none;
        box-shadow: 0px 0px 2px 1px black;
        color: hsl(0, 0%, 100%);
        font-weight: 500;
        cursor: pointer;
        outline: none;
    }
}