.login__form {
    margin-inline: 20px;
    padding: 40px 16px;
    max-width: 360px;
    background-color: hsla(0, 0%, 100%, 0.2);
    border: 2px solid hsla(0, 0%, 100%, 0.7);
    color: hsl(0, 0%, 100%);
    border-radius: 16px;
    backdrop-filter: blur(16px);
}

.login__title {
    margin: 20px 0;
    text-align: center;
    font-size: 40px;
}

.login__body {
    display: grid;
    row-gap: 20px;
    margin-bottom: 16px;

    &_wrap {
        display: grid;
        padding-inline: 20px;
        grid-template-columns: 1fr max-content;
        column-gap: 12px;
        align-items: center;
        border: 2px solid hsla(0, 0%, 100%, 0.7);
        border-radius: 64px;
    }

    &_input {
        outline: none;
        width: 100%;
        background: none;
        border: none;
        color: hsl(0, 0%, 100%);
        padding-block: 16px;

        &::placeholder {
            color: hsl(0, 0%, 100%);
        }
    }
}

.login__button {
    width: 100%;
    padding: 16px;
    margin-bottom: 16px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 64px;
    color: hsl(0, 0%, 0%);
    font-weight: 500;
    cursor: pointer;
    border: none;
    outline: none;
}
