@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
@import 'components/form/form.scss';
@import 'pages/startPage/startPage.scss';
@import 'pages/mainPage/mainPage.scss';

html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;

    body {
        margin: 0;
        box-sizing: border-box;
        font-family: 'Poppins', sans-serif;
    }
    a {
        background-color: transparent;
    }

    button,
    input,
    optgroup,
    select,
    textarea {
        font-family: inherit;
        font-size: 100%;
        line-height: 1.15;
        margin: 0;
    }
}

.header,
.main {
    max-width: 1440px;
}
